extends ../layout

block content
    section#sidebar
      a.brand(href="#")
        i.bx.bxs-smile.bx-lg
        span.text AdminHub
      ul.side-menu.top
        li
          a(href="/home")
            i.bx.bxs-dashboard.bx-sm
            span.text Dashboard
        li.active
          a(href="/student")
            i.bx.bxs-user.bx-sm
            span.text Students
        li
          a(href="/teacher")
            i.bx.bxs-widget.bx-sm
            span.text Teachers
        li
          a(href="/parent")
            i.bx.bxs-user-pin.bx-sm
            span.text Parents
        li
          a(href="/class")
            i.bx.bxs-group.bx-sm
            span.text Classes
      ul.side-menu.bottom
        li
          a.logout(href="/logout")
            i.bx.bx-power-off.bx-sm.bx-burst-hover
            span.text Logout
    // SIDEBAR
    // CONTENT
    section#content
      // NAVBAR
      nav
        i.bx.bx-menu.bx-sm
        form(action="#")
          .form-input
            input(placeholder="Search..." type="search")
            button.search-btn(type="submit")
              i.bx.bx-search
        input#switch-mode.checkbox(hidden="" type="checkbox")
        label.swith-lm(for="switch-mode")
          i.bx.bxs-moon
          i.bx.bx-sun
          .ball
        // Notification Bell
        //- a#notificationIcon.notification(href="#")
          i.bx.bxs-bell.bx-tada-hover
          span.num 8
        //- #notificationMenu.notification-menu
          ul
            li New message from John
            li Your order has been shipped
            li New comment on your post
            li Update available for your app
            li Reminder: Meeting at 3PM
        // Profile Menu
        a#profileIcon.profile(href="#")
          img(alt="Profile" src="../images/user.png")
        #profileMenu.profile-menu
          ul
            li
              a(href="#") My Profile
            li
              a(href="#") Settings
            li
              a(href="#") Log Out
      // NAVBAR
      // MAIN
      main
        .head-title
          .left
            h1 Dashboard
            ul.breadcrumb
              li
                a(href="/") Dashboard
              li
                i.bx.bx-chevron-right
              li
              a(href="#") Student
        ul.box-info
          li
            i.bx.bxs-group
            span.text
              h3 1020
              p Total Students
          li
            i.bx.bxs-user
            span.text
              h3 2834
              p New Students (Current Month)
          li
            i.bx.bxs-group
            span.text
              h3 2543
              p Parents
      
      button.continue-application
        div
          .pencil
          .folder
            .top
              svg(viewBox="0 0 24 27")
                path(d="M1,0 L23,0 C23.5522847,-1.01453063e-16 24,0.44771525 24,1 L24,8.17157288 C24,8.70200585 23.7892863,9.21071368 23.4142136,9.58578644 L20.5857864,12.4142136 C20.2107137,12.7892863 20,13.2979941 20,13.8284271 L20,26 C20,26.5522847 19.5522847,27 19,27 L1,27 C0.44771525,27 6.76353751e-17,26.5522847 0,26 L0,1 C-6.76353751e-17,0.44771525 0.44771525,1.01453063e-16 1,0 Z")
            .paper
        a(type="button" href="" data-toggle="modal", data-target="#myModal") 
          | Add Student
        //modal
        
      //table
      .container#StuTab
        table.table-striped#studentTable
          thead
            tr
              th No.
              th Name
              th Age
              th Grade
              th Actions
          tbody
            tr
              td 1
              td John Doe
              td 16
              td 10th Grade
              td 
                a#edit(href="/student/edit/1")
                 i.bx.bx-edit-alt
                |  
                a#delete(href="/student/delete/1")
                 i.bx.bx-trash
            